body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
margin: 0%;
}
h1{
    font-size: 50px;
    letter-spacing: 4px;
}
#orange{
    color: orange;
    letter-spacing: 5px;
}
.half-width{
    width: 40%;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 1%;
    padding-bottom: 5%;
}
.flexible{
    display: flex;
}
.half-width img{
    width: 60%;
    padding-left: 20%;
    padding-top: 1%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(233, 108, 62);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: ivory;
    padding-block: 5px;

    
}
.text-allign{
    text-align: center;
}
.box-1{
    background-color: rgb(193, 243, 243);
    margin-left: 6%;
    margin-right: 2%;
    width: 20%;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-right: 5%;
    border-radius: 15px;


}
.box-2{
    background-color: rgb(238, 213, 238);
    margin-right: 2%;
    width: 20%;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-right: 5%;
    border-radius: 15px;
}
.box-3{
    background-color: rgb(241, 213, 177);
    width: 20%;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-right: 5%;
    border-radius: 15px;
    

}
.image-size{
    width: 150px;
}
.margin{
    border-left: 4px solid rgb(180, 76, 76);
    padding-left: 10px;
    border-radius: 5px;
}